

header{
  border-bottom: 1px solid rgb(230, 230, 230);
  margin:.5em 1em 0 1em;
  height: 7em;

  i {
    margin:1em 1em 1em 0;
    font-size:3em;
    float:left;

    }

  h1{
    font-family:serif;
    font-size: 3.5em;
    float:left;
    margin-top:.75em;
    margin-bottom:0;

    }

}
