

ul{
  padding:0;
  li   {
     list-style: none;
      // margin:0 auto;
      aside .panel-heading {
        background-color: rgb(217, 237, 247);
      }
      article{
      height:7em;

    }
  }


}
